body {
    background: #F9F9F9;
  }
  
  .myaccordion {
    max-width: 500px;
    margin: 50px auto;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
  }
  
  .myaccordion .card,
  .myaccordion .card:last-child .card-header {
    border: none;
  }
  
  .myaccordion .card-header {
    border-bottom-color: #EDEFF0;
    background: transparent;
  }
  
  .myaccordion .fa-stack {
    font-size: 18px;
  }
  
  .myaccordion .btn {
    width: fit-content;
    font-weight: bold;
    color: #004987;
    padding: .8rem;
  }
  
  .myaccordion .btn-link:hover,
  .myaccordion .btn-link:focus {
    text-decoration: none;
  }
  
  .myaccordion li + li {
    margin-top: 10px;
  }

  /* img position */
  .img {
    display: block;
    height: 100%;
  }

  .clip {
    display: block;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    border-radius: 50%;
    width: 50%;
   margin: auto;
  }


  /* font-size for discription paragraph */
  .fb-mid {
    font-weight: 500 !important;
  }